h1{
    color: #941100;
}
table  {

    padding: 20px;
    border: 1px solid rgb(0, 0, 0);
    border-collapse: collapse;
    text-align: center;
    margin-left: 20px

    }

  td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    padding: 3px;

    }

  thead {
    font-weight: bold;
    background-color:#FEF5E7 
    }

 tbody tr:nth-child(even) {
    background-color:#E59866  ;
    }

 tbody tr:nth-child(odd) {
    background-color:#FDEBD0  ;
    }

 tfoot {
    background-color:#FEF5E7  ;
    }